$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../../assets/fonts/iconFonts" !default;

$icon-cart: "\e904";
$icon-delete: "\e900";
$icon-arrow_left: "\e901";
$icon-arrow_right: "\e902";
$icon-plus: "\e903";
